<form class="my-5 py-5" [formGroup]="newpassword " (ngSubmit)="changePass()">
    <label for="email" class="form-label">Email</label>
    <input
        type="email"
        class="form-control"
        formControlName="email"
        id="email"
        aria-describedby="emailHelpId"
        placeholder="abc@mail.com"
    />
    <label for="newpass" class="form-label">newpassword</label>
    <input
        type="password"
        class="form-control"
        formControlName="newPassword"
        id="newpass"
        aria-describedby="emailHelpId"
        placeholder="******"
    />
    <button type="submit" class="btn-main">supmit</button>
</form>
