<nav class="navbar navbar-expand-lg navbar-light fixed-top glass-effect">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-cart-shopping text-info"></i> FreshCart
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active-link">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active-link">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="brands" routerLinkActive="active-link">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" routerLink="cate">Categories</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">

        <li class="nav-item position-relative d-flex">
          <button class="btn nav-link" (click)="toggleTheme()">
            <i class="fa-solid" [ngClass]="{ 'fa-sun': isDarkTheme, 'fa-moon': !isDarkTheme }"></i>
          </button>
          <a class="nav-link position-relative" routerLinkActive="active-link" routerLink="cart">
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
              *ngIf="itemsCount > 0">
              {{itemsCount}}
              <span class="visually-hidden">items in cart</span>
            </span>
          </a>
          <a routerLink="/wishlist" routerLinkActive="bg-warning rounded-3 p-2" class="nav-link position-relative mx-2">
            <i class="fa-solid fa-heart fa-xl text-danger"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              *ngIf="wishListCount > 0">
              {{wishListCount}}
              <span class="visually-hidden">items in wishlist</span>
            </span>
          </a>
        </li>

        <li class="nav-item px-2 d-flex">
          <a href="" class="nav-link">
            <i class="fa-brands fa-facebook fa-lg"></i>
          </a>
          <a href="" class="nav-link">
            <i class="fa-brands fa-instagram fa-lg"></i>
          </a>
          <a href="" class="nav-link">
            <i class="fa-brands fa-tiktok fa-lg"></i>
          </a>
          <a href="" class="nav-link">
            <i class="fa-brands fa-linkedin fa-lg"></i>
          </a>
        </li>

        <li class="nav-item" *ngIf="isLogedIn">
          <a href="" class="nav-link d-flex align-items-center" (click)="signout()">
            <span class="me-2">Signout</span>
            <i class="fa-solid fa-arrow-right-from-bracket text-danger"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isLogedIn">
          <a href="" class="nav-link d-flex align-items-center" routerLink="login">
            <span class="me-2">Signin</span>
            <i class="fa-solid fa-arrow-right-from-bracket text-info"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>