<div class="container-fluid py-3 mt-4 bg-dark text-light">
    <div class="text-capitalize">
        <h3 class="text-light">get fresh cart app</h3>
        <p class="font-sm py-3 text-light">we wil send you link . open it in your phone download the app </p>
        <div class="w-100 m-auto d-flex py-3">
            <input type="email" placeholder="email" class="form-control w-75 bg-dark text-light border-secondary">
            <button class="btn-main px-5 btn-outline-light">send</button>
        </div>
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center py-3">
                <p class="h5 p-1 text-light">payment methods</p>
                <img src="./assets/2560px-Amazon_Pay_logo.svg.png" width="80" alt="">
                <img src="./assets/visa-1.svg" alt="">
                <img src="./assets/master.svg" alt="">
            </div>
            <div class="d-flex align-items-center py-3">
                <p class="h5 p-1 text-light">get fresh cart app</p>
               
            </div>
        </div>
    </div>
</div>