/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

:root {
  --main-color: #414770;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
  --dark-bg: #1a1a1a;
  --dark-text: #ffffff;
  --dark-secondary: #333333;
  --dark-border: #404040;
}

body {
  font-family: var(--font-family) !important;
}

[data-theme="dark"] {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

[data-theme="dark"] .nav-link {
  color: var(--dark-text);
}
[data-theme="dark"] .fa-bars{
  color: var(--dark-text) !important;

}
[data-theme="dark"] .navbar {
  background-color: var(--dark-secondary) !important;
}
[data-theme="dark"] .text-main {
  color: var(--dark-text) !important;
}

.nav-link {
  transition: unset !important;
}

.active-link {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
  border-radius: 5px;
}

.rating-color {
  color: var(--rating-color);
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

[data-theme="dark"] a,
[data-theme="dark"] a:hover {
  color: var(--dark-text);
}

.product {
  border-radius: 5px;
  border: solid 1px var(--main-color);
  transition: box-shadow 0.5s;
  overflow: hidden;
}

[data-theme="dark"] .product {
  background-color: var(--dark-secondary);
  border-color: var(--dark-border);
}

.product:hover {
  box-shadow: 0 0 10px #87ceeb68;
}

.font-sm {
  font-size: 12px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}

[data-theme="dark"] .bg-main-light {
  background-color: var(--dark-secondary) !important;
}

.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.btn-main:disabled {
  cursor: not-allowed;
  background-color: #8a8a8a;
}

.btn-main:disabled:hover {
  background-color: #ccc;
}

.btn-main:hover {
  background-color: #5FB8E0;
}
